@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground) !important;
  background: var(--background);
  font-family: "Montserrat", sans-serif !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.decoration {
  text-decoration: none !important;
}
.nav-link {
  color: red !important;
}
.collapse {
  visibility: unset !important;
}
.swiper {
  width: 100%;
  height: 100%;
}
.banner {
  width: 100%;
  height: 460px;
  object-fit: fill;
}
.footer {
  text-transform: capitalize !important;
}
